@import './vars';

html, body{
  height: 100%;
	width: 100%;
}

body {
  font-family: 'Courier New', Courier, monospace;
  background: rgb(36, 41, 46);
  color: #fff;
  text-align: center;
}

$bdr: #8ba2b0;
.ctn-arrow-box{
  position: absolute;
  top: 0; left: 0;
  .arrow_box {
    color: $b;
    width: 120px;
    padding: 10px;
    position: relative;
    background: $w;
    border: 2px solid $bdr;
    border-radius: 5px;
    &:after, &:before {
      top: 100%;
      left: 50%;
      border: solid transparent;
      content: "";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    &:after {
      //border-color: rgba(255, 255, 255, 0);
      border-top-color: $w;
      border-width: 15px;
      margin-left: -15px;
    }
    &:before {
      //border-color: rgba(139, 162, 176, 0);
      border-top-color: $bdr;
      border-width: 18px;
      margin-left: -18px;
    }
  }
}
