@import '~normalize.css/normalize.css';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import './vars';

html, body{
  @extend %fhw;
  overflow: hidden;
}

.loader-ol{
  @extend %fhw;
  @extend %j-c;
  background: $w;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  .loader {
    border: 5px solid #0d6efd;
    border-radius: 50%;
    border-top: 5px solid $w;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    animation: spin 2s linear infinite;
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.l, .r{ position: relative; }
.l{
  z-index: 1;
  box-shadow: 0px 0px 5px 2px rgba($b, .2);
}
aside{
  @extend %fh;
  padding: 10px;
  background: $w;
  button svg{
    vertical-align: text-bottom;
  }
}

$bg: #ffffff;
$bdr: rgba(#000, .3);
#ctn-txt-inp{
  //outline: 1px solid orange;
  position: absolute;
  transform: translate(-50%, -145%);
  .arrow_box {
    position: relative;
    padding: 5px;
    background: $bg;
    border: 1px solid $bdr;
    border-radius: 5px;
    &:after, &:before {
      top: 100%;
      left: 50%;
      border: solid transparent;
      content: "";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }
    &:after {
      border-color: rgba($bg, 0);
      border-top-color: $bg;
      border-width: 10px;
      margin-left: -10px;
      transform: translateY(-1px);
    }
    &:before {
      border-color: rgba($bdr, 0);
      border-top-color: $bdr;
      border-width: 11px;
      margin-left: -11px;
    }

    input{
      font-size: 14px;
      &:focus{
        box-shadow: none!important;
      }
    }
  }
}
